/node_modules/
/scss/
.sass-cache/
*.xml
*.pkg
*.yaml
*.pkg
.DS_Store
images/
package-lock.json
yarn.lock
.htaccess
.gcloudignore
.firebase/hosting.cHVibGlj.cache
.firebaserc
functions/.eslintrc.json
functions/node_modules/
firestore.rules
firestore.indexes.json
storage.rules
src/scss
database.rules.json
index.html
public/ 
.pnp.js
.yarn/
.yarnrc.yml